# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
local_settings.py
.env

# Media / artifacts
media/artifacts/
media/*.joblib
media/*.png

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
