# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environment
venv/
.env

# Django
db.sqlite3
media/
staticfiles/

# ML artifacts
*.joblib
*.csv
*.png
*.pdf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
